@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

.mostSold{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 20px 0;
}

.mostSold_header{
    text-align: left;
    font-family: 'Lexend Mega';
    font-size: 22px;
    color: rgb(102, 102, 102);
    font-weight: 700;
}

.mostSold_products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}