.resume{
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-left: 10px;
    width: 35%;
}

.resume_header{
    font-size: 24px;
    color: #333;
}

.resume_bill{
    padding: 10px 0;
    border-bottom: 1px solid #d8d8d8;
    font-weight: 400;
    font-size: 14px;
    color: #666;
}

.bill_price{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.resume_total{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    color: #333;
}

.resume_interest{
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px solid #d8d8d8;
    color: #666;
}

.resume_button{
    padding: 15px 0;
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: #d01110;
    border-radius: 5px;
    margin: auto;
    border: none;
    margin: 20px 0;
}

.resume_reminder{
    padding: 0 10px;
    text-align: center;
    word-wrap: break-word;
    font-size: 14px;
    color: #666;
    margin-bottom: 40px;
}

@media (max-width: 600px){
    .resume{
        width: 100%;
        margin: 10px 0;
    }
}